.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#gameboard {
  display: block;
  margin: 0 auto;
  width: 365px;
  height: 360px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fa-times {
  color: red;
}

.fa-circle-thin {
  color: blue;
}

.fa {
  font-size: 80px;
}

.game-square {
  display: flex;
  width: 120px;
  height: 120px;
  align-items: center;
  justify-content: center;
}

.active-player {
  border: 2px solid black;
}

/* .game-square:nth-child(odd) {
  background-color: green;
}

.game-square:nth-child(even) {
  background-color: blue;
} */

.game-square:nth-child(-1n+6) {
  border-bottom: 2px solid black;
}

.game-square:not(:nth-child(-3n+9)) {
  border-right: 2px solid black;
}

#players {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.player {
  margin: 0 2rem;
}

.player p {
  text-align: left;
}

.hide {
  display: none;
}

@media screen and (min-width: 768px) {
  #gameboard {
    width: 455px;
    height: 450px;
  }
  .game-square {
    width: 150px;
    height: 150px;
  }
  .fa {
    font-size: 100px;
  }
}
