.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#gameboard {
  display: block;
  margin: 0 auto;
  width: 360px;
  height: 360px;
  background-color: red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-square {
  display: block;
  width: 120px;
  height: 120px;
}

.game-square:nth-child(odd) {
  background-color: green;
}

.game-square:nth-child(even) {
  background-color: blue;
}

@media screen and (min-width: 768px) {
  #gameboard {
    width: 450px;
    height: 450px;
  }
  .game-square {
    width: 150px;
    height: 150px;
  }
}
